@import "tailwindcss";

:root {
  --blue: #0071e3;

  --color-black: #0b0b0b;
  --color-white: #ffffff;
  --color-bg-base: #ffffff;
  --brand1: var(--blue);
}

:root[data-theme="light"] {
  --color-bg-base: var(--color-white);
  --color-fg-base: var(--color-black);
}

:root[data-theme="dark"] {
  --color-bg-base: var(--color-black);
  --color-fg-base: var(--color-white);
}

html {
  background-color: var(--color-bg-base);
  color: var(--color-fg-base);
}

@theme {
  --color-brand: var(--brand1);

  --ink: #1d1d1f;
  --ink-2: #424248;
  --ink-3: #6e6e73;
  --ink-4: #86868b;
  --line: #d2d2d7;
  --accent: #0071e3;
  --maxw: 1280px;
  --gutter: clamp(16px, 4vw, 48px);
  --hero-content-height: 640px;
  --yn-button-border-width: 1px;
  --button-background: rgb(0, 113, 227);
  --button-background-hover: #0076df;
  --yn-button-text-color: #fff;

  /* Spacing */
  --section-padding-x: 1.5rem;
}

/* html[data-theme="light"] {
}
html[dark-theme="dark"] {
} */

@utility px-margin-x {
  padding-inline: max(var(--section-padding-x), calc((100vw - 1920px) / 2));
}

@utility btn {
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  display: flex;
  width: fit-content;
}

@utility btn-primary {
  @apply btn;
  background: var(--color-brand);
  color: var(--color-black);
  border-color: var(--color-brand);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-brand);
  }
}

@utility btn-outline {
  @apply btn;
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}

@layer utilities {
  .text-page-heading-xl {
    font-size: 3.3rem;
    line-height: 1;
    letter-spacing: 0.02em;
    color: var(--color-white);
    font-weight: 400;

    @media (min-width: 40rem) {
      font-size: 4rem;
    }

    @media (min-width: 48rem) {
      font-size: 5rem;
    }
    @media (min-width: 64rem) {
      font-size: 7rem;
    }
  }
  .text-body-xl {
    font-size: 1.5rem;
    line-height: 1.24;
    letter-spacing: 0.02em;
    font-weight: 300;
    color: var(--color-white);

    @media (min-width: 48rem) {
      font-size: 1.75rem;
      line-height: 1.13;
    }
    @media (min-width: 64rem) {
      font-size: 2rem;
      line-height: 1.1;
    }
  }
}
