:root[data-theme="dark"] {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --color-fg-base: var(--color-white);
  --color-fg-dim: var(--color-gray-300);
  --color-fg-faint: var(--color-gray-500);
  --color-fg-inverse-base: var(--color-black);
  --color-fg-inverse-dim: var(--color-gray-700);
  --color-fg-inverse-faint: var(--color-gray-500);
  --color-fg-accent-blue: var(--color-blue-500);
  --color-fg-accent-green: var(--color-green-500);
  --color-fg-accent-magenta: var(--color-magenta-500);
  --color-fg-accent-yellow: var(--color-yellow-500);
  --color-bg-base: var(--color-black);
  --color-bg-dim: var(--color-gray-900);
  --color-bg-inverse-base: var(--color-white);
  --color-bg-inverse-dim: var(--color-gray-100);
  --color-bg-accent-blue-base: var(--color-blue-500);
  --color-bg-accent-blue-dim: var(--color-blue-700);
  --color-bg-accent-green-base: var(--color-green-500);
  --color-bg-accent-green-dim: var(--color-green-700);
  --color-bg-accent-magenta-base: var(--color-magenta-500);
  --color-bg-accent-magenta-dim: var(--color-magenta-700);
  --color-bg-accent-yellow-base: var(--color-yellow-500);
  --color-bg-accent-yellow-dim: var(--color-yellow-700);
  --color-border-base: var(--color-white);
  --color-border-dim: var(--color-gray-800);
  --color-border-faint: var(--color-gray-900);
  --color-border-inverse-base: var(--color-black);
  --color-border-accent-blue: var(--color-blue-500);
  --color-border-accent-green: var(--color-green-500);
  --color-border-accent-magenta: var(--color-magenta-500);
  --color-border-accent-yellow: var(--color-yellow-500);
  --color-focus-ring: var(--color-white);
  --color-fg-error: #f22;
}
